/* 全局设置 */
* {
    -webkit-tap-highlight-color: transparent;
}

/* 页脚 */
.YeJiao {
    text-align: center;
}

/* 侧滑栏 */
.CheHuaLan-p {
    text-align: center;
}

.CheHuaLan-LieBiao {
    border: 1.2px solid #000000;
    display: flex;   /* 启用 Flexbox */
    justify-content: center;   /*水平居中*/
    align-items: center;
    margin: 6px;
    border-radius: 5px;
    padding: 6px;
}

.CheHuaLan-LieBiao:hover {
    transition: 0.3s;
    background-color: #C9C9C9; /*悬停时背景色变亮*/
}

.CheHuaLan {
    border-radius: 0px 25px 25px 0px;
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99999;
    left: -60%;  /* 初始状态隐藏在屏幕左侧 */
    top: 0;
    transition: left 0.5s ease-in-out;
    /* 添加过渡动画 */
}

/* 菜单按钮 */
.CaiDan {
    visibility: visible;
    right: 20px;
    font-size: 30px;
    position: fixed;
    cursor: pointer;
}

/* 返回顶部 */
.HanHuiDingBu {
    visibility: hidden;
    right: 20px;
    height: 40px;
    width: 80px;
    position: fixed;
    border: 1.2px solid #000000;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: 50px;
    z-index: 9;
}

/* 首页文章 */
.WenZhang-img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 150px;
}

.WenZhang-h2 {
    text-align: center;
}

.WenZhang-BiaoTi {
    font-size: 15px;
    text-indent: 15px;
}

.WenZhang-JieShao {
    font-size: 12px;
    text-indent: 20px;
}

.WenZhang-CaKan {
    border: 1px solid #000000;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.WenZhang-CaKan:hover {
    transition: 0.3s;
    background-color: #C9C9C9; /*悬停背景变颜色*/
}

.WenZhang {
    margin: 5px;
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid #707070;
    background: #FFFFFF;
    z-index: 9999;
}

.WenZhang:hover {
    background-color: #F0F0F0;
}

/* 头像 */
.tx:active {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
    z-index: 9999;
}

.tx {
    border-radius: 50%;
    display: block;
    margin: 0 auto; /* 头像水平居中 */
}

/* Logo */
.bloglogo {
    text-align: center;
}

p {
    font-size: 12px;
    color: #4B4B4B;
}

/* 联系列表 */
.lianxi a:hover {
    transition: 0.3s;
    background-color: #C9C9C9; /*悬停时背景色变亮*/
}

.lianxi a {
    border: 1px solid #000000;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

a {
    color: #1D1D1D;
    text-decoration-line: none;
    /* 仅去掉下划线 */
}

.lianxi {
    display: flex;
    /* 启用 Flexbox */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    text-decoration: none;
}

.wenan {
    display: flex;
    /* 启用 Flexbox */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
}

.jinishici-sentence {
    display: flex;    
    justify-content: center;  
    align-items: center; 
    height: 40px;
    width: 250px;
    border-radius: 15%;
    transition: background-color 0.6s;   /*颜色改变动画*/
}

/* 通知卡片 */
.TongZhi {
    position: absolute;    /* 可以自由移动 */
    right: -200px;    /* 初始藏在右边屏幕外 */
    bottom: 20px;    /* 距离底部20像素 */
    width: 150px;   /* 宽度 */
    height: 60px;   /* 高度 */
    border: 0.1px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;    /* 背景 */
    animation: TongZhi 5s;   /* 动画设置 */
    z-index: 9999;
    animation-delay: 2s;
    position: fixed;
}

.TongZhi p {
    padding: 10px;
    text-align: center;
}

@keyframes TongZhi {
    0% {
        transform: translateX(0);
    }
    /* 起始位置 */
    20% {
        transform: translateX(-220px);
    }
    /* 1秒时滑到左边 */
    80% {
        transform: translateX(-220px);
    }
    /* 保持不动直到4秒 */
    100% {
        transform: translateX(0);
    }
    /* 5秒时滑回原位 */
}