body {
    background-image: url('https://api.anosu.top/img');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* 关键属性 - 使背景固定不滚动 */
    margin: 0;
    padding: 0;
    min-height: 100vh;  /* 确保至少覆盖整个视口高度 */
    opacity: 0.92;//透明
}

#666 {
    position: relative;
 
}